<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690882622298-72qijtm5dftrtnqd2k1vk1dcqcvd7db5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690882622298-72qijtm5dftrtnqd2k1vk1dcqcvd7db5</string>
	<key>API_KEY</key>
	<string>AIzaSyDqd-pv3vuhVGRH20LkvsJz1Kx1kIWfqDU</string>
	<key>GCM_SENDER_ID</key>
	<string>690882622298</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalExam</string>
	<key>PROJECT_ID</key>
	<string>final-exam-5a6b6</string>
	<key>STORAGE_BUCKET</key>
	<string>final-exam-5a6b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690882622298:ios:ff3177855516b15cf07963</string>
</dict>
</plist>